body {
    font-family: 'Roboto', sans-serif;
}
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
header a:hover{
    color: #2196F3;
}
header a{
    font-weight: 500;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #212121;
}
.logo img{
    height: 31px;
}
.logo {
    margin-right: 93px;
}
.nav {
    display: flex;
}
.nav_list {
    display: flex;
    align-content: center;
    align-items: center;
}
.list_unit {
    padding-right: 50px;
}
.header_contacts a:first-child {
    margin-right: 50px;
}
/*header end*/
/*header end*/

/* main block */
/* main block */

.business_solutions{
    height: 600px;
    background: #2F303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_header{
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
.main_button {
    padding: 10px 32px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    font-size: 16px;
    color: white;
    font-weight: 700;
    line-height: 30px;
}
.ocupation_text {
    display: flex;
    justify-content: center;
}
.ocupation_text ul{
    width: 270px;
    padding-top: 93px;
    padding-bottom: 93px;
}
.ocupation_text li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #757575;
}
.ocupation_text h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.ocupation_pics{
display: flex;
flex-direction: column;
align-items: center;
}


.ocupation_pics h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 50px;
}

.ocupation_pics-block img{
    width: 370px;
    padding-bottom: 94px;
}
.ocupation_pics-block img:nth-child(-n+2){
    padding-right: 30px;
}

.team {
    background: #F5F4FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team h2{
    padding-top: 94px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.team_block {
    display: flex;
    padding-bottom: 94px;
}
.team_unit {
    background: white;
    box-shadow: 0px 1px 2px 0px #00000021;
}
.team_unit:nth-child(-n+3){
    margin-right: 30px;
}
.team_unit img{
    width: 270px;
}
.unit_info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.unit_name{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #212121;
    padding-bottom: 10px;
    text-align: center;
}
.unit_position{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #757575;
    text-align: center;
}
/* main block end*/
/* main block end*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #2F303A;
    padding-left: 215px;
}
footer .logo{
    margin-top: 60px;
    margin-bottom: 20px;
}
footer address{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;
    color: #FFFFFF;
}
footer a{
    color: #FFFFFF99;
}
footer a:nth-child(3){
    margin-bottom: 10px;
}
footer a:last-child{
    margin-bottom: 60px;
}



